<div class="row mt-4">
    <div class="col-md-6">
        <h3>Update Post:</h3>

        <form class="form update-post-form">
            <div class="form-group">
                <label for="post-title">Post Title:</label>
                <p>{{title}}</p>
            </div>
            <div class="form-group">
                <label for="post-desc">Post:</label>
                <p>{{body}}</p>
            </div>
            <div class="form-group">
                <label for="postComment">Any comments?</label>
                <input name="post-id" class="form-input" id="comment-desc" name="postComment">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary addedCommentButton"> add comments</button>
            </div>
        </form>
    </div>
</div>


<script src="/js/addedComment.js"></script>