<div class="row mt-4">
    <div class="col-md-6">
        <h3>Update Post:</h3>

        <form class="form update-post-form">
            <div class="form-group">
                <label for="post-title">Post Title:</label>
                <p>{{title}}</p>
            </div>
            {{!-- <div class="form-group">
                <label for="project-funding">needed funding ($):</label>
                <input class="form-input" type="number" id="project-funding" name="project-funding" />
            </div> --}}
            <div class="form-group">
                <label for="post-desc">Post:</label>
                <p>{{body}}</p>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary updatePostButton"> Update Post</button>
            </div>
        </form>
    </div>
</div>

{{!-- <script src="/js/updatedPost.js"></script> --}}