<div class="row mt-4">
    <div class="col-md-6">
        <h3>Update Post:</h3>

        <form class="form update-post-form">
            <div class="form-group">
                <label for="post-title">Post Title:</label>
                <input class="form-input" type="text" id="post-title" name="post-title" value = "{{title}}">
            </div>
            {{!-- <div class="form-group">
                <label for="project-funding">needed funding ($):</label>
                <input class="form-input" type="number" id="project-funding" name="project-funding" />
            </div> --}}
            <div class="form-group">
                <label for="post-desc">Comments:</label>
                <input class="form-input" id="post-desc" name="post-desc" value = "{{text}}">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary updatePostButton"> Update Post</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/updatedPost.js"></script>